/* ----------------------- Colors In Use --------------------- */
/* 
main color code : #ff2858
dark shade : #cc002c
light shade : #ff6687 
*/

/* ----------------------------- Fonts In Use ----------------------- */
@font-face {
	font-family: bBadr;
	src: url("../../vendors/fonts/B_Badr.ttf");
}

@font-face {
	font-family: bBadrBold;
	src: url("../../vendors/fonts/B_Badr_Bold.ttf");
}

@font-face {
	font-family: bZar;
	src: url("../../vendors/fonts/B_Zar_0.ttf");
}

@font-face {
	font-family: bZarBold;
	src: url("../../vendors/fonts/B_Zar_Bold_0.ttf");
}

@font-face {
	font-family: farNazanin;
	src: url("../../vendors/fonts/Far_Nazanin.ttf");
}

@font-face {
	font-family: farTitr;
	src: url("../../vendors/fonts/Far_TitrBd.ttf");
}

/*********************************************************************************************/
/*  ------------------------------------ General Setup ------------------------------------  */
/*********************************************************************************************/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*********************************************************************************************/
/*  ------------------------------------ Resuable Component -------------------------------- */
/*********************************************************************************************/

h2 {
	font-family: farTitr;
	font-size: 140%;
	background-color: #ff2858;
	color: #fff;
	padding: 6px 40px 6px 15px;
	display: inline-block;
	clip-path: polygon(0% 0%, 100% 0, 85% 50%, 100% 100%, 0% 100%);
}

.main-body {
	font-family: farNazanin;
	font-size: 20px;
	color: #333;
}

.rows {
	max-width: 94%;
	margin: 0 auto;
}

/******************************************* Base Cards ***************************************/
.cards {
	width: 15%;
	min-width: 268px;
	height: 399.484px;
	margin: 1%;
	border-radius: 15px;
}

.cards-title {
	text-align: center;
	padding: 50px 0;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.cards-title img {
	height: auto;
	width: 60%;
	border-radius: 50%;
}

.cards-description {
	margin: 10px 10%;
	font-size: 90%;
}

.cards-pricing {
	margin: 10px 10% 0;
	padding: 0 0 30px;
}

.cards-pricing p {
	text-align: left;
}

/**************************************** Slides Buttons *************************************/

.slides-button {
	position: relative;
}

.slides-button .slides-button-prev,
.slides-button .slides-button-next {
	top: -16rem;
	border: 1px solid #cc002c;
	padding: 5px 10px;
	font-size: 120%;
	font-weight: bold;
	color: #cc002c;
	outline: none;
	transition: color 0.5s, background-color 0.5s;
	font-family: "Arial";
}

.slides-button button:hover {
	color: #fff;
	background-color: #cc002c;
}

.slides-button button:active {
	color: #cc002c;
	background-color: #fff
}

.slides-button-prev {
	position: absolute;
	left: 0;
}

.slides-button-next {
	position: absolute;
	right: 0;
}

/*********************************************************************************************/
/*  ------------------------------------- Discount Section --------------------------------- */
/*********************************************************************************************/

.discount {
	background-color: rgb(248, 248, 248);
	padding: 30px 0 60px;
}

.discount .rows:first-child {
	margin-bottom: 40px;
}

.discount .cards {
	box-shadow: 5px 5px 5px rgb(238, 238, 238);
	background-color: #fff;
	height: 445.484px;
}

.discount .cards-title {
	border-bottom: 1px solid rgb(238, 238, 238);
	background-color: rgb(241, 241, 241);
}

.discount .special .cards-title {
	background-color: #cc002c;
}

.price-cont {
	height: 30px;
	margin-bottom: 1rem;
}

.off-percent {
	float: left;
	margin-right: 10px;
	color: #fff;
	background-color: #ff2858;
	border-radius: 10px;
	font-family: farTitr;
	margin-right: 10px;
	font-size: 80%;
	padding: 2px 6px;
	text-decoration: none;
	margin-bottom: 1rem;
}

.last-price {
	float: left;
	text-decoration: line-through;
	color: rgb(199, 199, 199);
	margin-bottom: 16px;
}

.real-price-cont {
	float: left;
	height: 30px;
	margin-bottom: 1rem;
}

.currency {
	float: left;
}

.real-price {
	float: left;
	font-family: farTitr;
	padding: 0 0 0 5px;
}

.special-off {
	background-color: #cc002c;
}

/*********************************************************************************************/
/*  ------------------------------------- Sales Section ------------------------------------ */
/*********************************************************************************************/
.sales {
	padding: 30px 0 60px;
}

.sales .rows:first-child {
	margin-bottom: 40px;
}

.sales .cards {
	box-shadow: 5px 5px 5px rgb(238, 238, 238);
	background-color: rgb(250, 250, 250);
}

.sales .cards-title {
	border-bottom: 1px solid rgb(238, 238, 238);
	background-color: rgb(241, 241, 241);
}

.sales .cards-pricing p {
	font-family: farTitr;
}

.sales .cards-pricing p span {
	margin-right: 10px;
	font-family: farNazanin;
}

/*********************************************************************************************/
/*  ------------------------------------- Product Section ---------------------------------- */
/*********************************************************************************************/

.products {
	padding: 0;
}

.products-section {
	width: 100%;
	padding: 30px 0;
}

.products [class*="col"] {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.products-section:nth-of-type(odd) [class*="col"]:first-child {
	align-items: center;
}

.products-section:nth-of-type(even) [class*="col"]:first-child {
	align-items: flex-end;
}

.products-section:nth-of-type(odd) {
	background-color: #ff2858;
	color: #fff;
}

.products-section:nth-of-type(even) {
	background-color: #fff;
	color: #ff2858;
}

.products-image {
	width: 100%;
	max-width: 400px;
	height: auto;
}

.products-heading {
	font-size: 140%;
	font-family: farTitr;
}

.products-paragraph {
	width: 60%;
	font-size: 110%;
	text-align: justify;
	margin-top: 20px;
}

/* ************************************************************************************** */
/*  -------------------------- Footer Starts ------------------------- */
/* ************************************************************************************** */
.footer-p {
	font-family: bBadr;
	font-size: large;
	text-align: justify;
}

.top-footer-background {
	background-color: #ebebeb !important;
}

.container {
	max-width: 94%;
}

.map-img {
	max-width: 650px;
}

.map-div {
	overflow-x: hidden;
}

.header {
	font-family: farTitr;
	font-size: xx-large;
}

.margin-bottom-0 {
	margin-bottom: 0 !important;
}

.categories-container {

	margin-bottom: 1.5rem;
}

.padding-0 {
	padding: 0;
}

.categories-header {
	font-family: farNazanin;
	font-size: x-large;
	color: rgb(255, 255, 255);
	margin-top: 1rem;
}

.categories li a {
	font-family: farNazanin;
	color: rgb(226, 222, 222) !important;
	font-size: large;
	transition: 0.3s;
	text-decoration: none !important;

}

.categories li a:hover {
	color: rgb(255, 255, 255) !important;
}

.cut-text {
	display: inline-block;
	width: 160px;
	white-space: nowrap;
	overflow: hidden !important;
	text-overflow: ellipsis;
}

.footer-img-container {
	margin-bottom: 1rem;
}

.footer-img {
	text-align: center !important;
	max-height: 90px !important;
	height: 90px !important;
	margin-right: 50% !important;
	transform: translate(50%);
	padding: 0 !important;
}

/* ************************************************************************************** */
/*  ******** ------------------- Footer ends ----------- *************** */
/* ************************************************************************************** */